.menubutton {
  background-color: #5288c1;
  box-shadow: -1px 1px 6px 0px #4878aa;
  width: 100px;
  height: 100px;
  margin: .5rem;
  border-radius: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  & span {
    color: var(--tg-theme-text-color);
    letter-spacing: 0;
    font-size: 14px;
  }
}